h1{
  font-size:1.3em;
  font-weight:bold;
  margin-bottom:1em;
}

p{
  margin-bottom:1em;
}

a:link,
a:hover,
a:visited{
  color:#007fff;
}

.js .checkbox{
  display:none;
}

.toggle{
   background:url("../images/toggle.png") bottom left;
    display:block;
    width:70px;
    height:22px;
}

.toggle.checked{
  background-position:top left;
}
.control-label{
  color: #fff;
}