body{
	margin: auto;
	background: #333;
}
h1{
	color: #dddd44;
}
.lightOut{
	background: #000;
}
.light{
	background: #000;
	width: 1024px;
	height: 1024px;
	margin: auto;
}
.textInside{
	color: #000;
}
.blur-text
{
	color: transparent;
	text-shadow: 0 0 5px #000;
}